div img{
    margin: auto;
    display: block;
    border: solid 3px black;
    height: 20rem;
    width: 25rem;
}
div h1{
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
div p {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}
body{
    background-color: aliceblue;
}